@import "tailwindcss";

@theme {
  --color-blue: #3B82F6;
  --color-white: #ffffff;
  --color-off-white: #eeeeee;
  --color-yellow: #FACC15;
  --color-gray: #9CA3AF;
  
  --font-sans: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}